<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context.xsd">
    <!--  For reading properties files -->
    <bean id="jmsProperties"
          class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="location" value="classpath:jms.properties" />
    </bean>
    <bean id="jmsConfig" class="vn.com.tma.configs.JMSConfig">
        <property name="urlBrokerConnection" value="${spring.activemq.broker-url}"/>
        <property name="username" value="${spring.activemq.user}" />
        <property name="password" value="${spring.activemq.password}"/>
        <property name="queueName" value="${jms.queue.destination}"/>
    </bean>
    <bean id="device1" class="vn.com.tma.documents.Device">
        <property name="name" value="BCB-1"></property>
        <property name="address" value="192.168.20.6"></property>
        <property name="macAddress" value="00-15-E9-2B-99-B5"></property>
        <property name="status" value="Up"></property>
        <property name="type" value="06582-T20"></property>
        <property name="version" value="1.2.2"></property>
    </bean>
    <bean id="device2" class="vn.com.tma.documents.Device">
        <property name="macAddress" value="00-15-E9-2B-99-BB"></property>
    </bean>
</beans>